# Default values for ransim.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  image:
    free5gc: {}
  mnAccessBridge:
    subnet: 192.168.3.0/24

replicaCount: 1

image:
  repository: docker.io/alan0415/free5gc-ueransim #steven30801/free5gc-build
  tag: v3.2.1
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

mgnt:
  addr: 192.168.2.11
data:
  addr: 192.168.3.203
amf:
  ngap:
    addr: 192.168.3.22

podSecurityContext: {}

securityContext:
  privileged: true

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
