# Default values for NSSF.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  image:
    free5gc: {}
  ## For unit test
  #nrf:
  #  addr: 192.168.2.4
replicaCount: 1

image:
  repository: docker.io/alan0415/free5gc-ns-enabled #steven30801/free5gc-build
  tag: v3.2.1 #v2.0.2
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

http:
  addr: 192.168.2.5

podSecurityContext: {}

securityContext: {}

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
