apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "upf.fullname" . }}
  labels:
    {{- include "upf.labels" . | nindent 4 }}
    bans.io/slice: slice{{ .Values.sliceIdx }}
  annotations:
    "helm.sh/hook-weight": "-5"
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "upf.selectorLabels" . | nindent 6 }}
      bans.io/slice: slice{{ .Values.sliceIdx }}
  template:
    metadata:
      labels:
        {{- include "upf.selectorLabels" . | nindent 8 }}
        bans.io/slice: slice{{ .Values.sliceIdx }}
      annotations:
        cni.projectcalico.org/ipAddrs: "[\"{{ .Values.pfcp.addr }}\"]"
        k8s.v1.cni.cncf.io/networks: upf-slice{{ .Values.sliceIdx }}-bridge-net
    spec:
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: {{ include "upf.image" . | quote }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/bin/bash"]
          args: ["-c", "sleep 5s && ./upf-iptables.sh && ./upf -c ./config/upfcfg.yaml"]
          stdin: true
          tty: true
          volumeMounts:
            - name: upf-script
              mountPath: /free5gc/upf-iptables.sh
              subPath: upf-iptables.sh
            - name: upf-config
              mountPath: /free5gc/config/upfcfg.yaml
              subPath: upfcfg.yaml
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: upf-script
          configMap:
            name: upf-slice{{ .Values.sliceIdx }}-configmap
            defaultMode: 0777
            items:
            - key: upf-iptables.sh
              path: upf-iptables.sh
        - name: upf-config
          configMap:
            name: upf-slice{{ .Values.sliceIdx }}-configmap
            items:
            - key: upfcfg.yaml
              path: upfcfg.yaml
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
